<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.grapheneos.geocoder">

    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Geocoder Provider">
        <service
            android:name=".GeocodeMockApp"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.location.service.GeocodeProvider" />
            </intent-filter>
        </service>

    </application>

</manifest>